.SourceCode-Forms-Controls-Web-ControlPack-TreeView .stylewrapper {
    background-color:#004C87;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .text {
    color:#fff;
    font-size: 17px;
    line-height: 29px;
}