/* .SourceCode-Forms-Controls-Web-ControlPack-TreeView .stylewrapper {
    background-color: #004C87;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .text {
    color: #fff;
    font-size: 17px;
    line-height: 29px;
}


.theme-entry .panel-header,
.theme-entry .panel-header-c {
    background: linear-gradient(to bottom, #004C87 0%, #004C87 100%) !important;
    border-color: #004C87 !important;
    height: 50px;
} */


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* new */
body.theme-entry {
    direction: rtl;
    font-family: 'cairo' !important;
}

.theme-entry .input-control textarea {
    height: 100px;
}

.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark,
.theme-entry .input-control-watermark,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.readonly,
.theme-entry input[type=text].input-control.readonly,
.theme-entry input[type=password].input-control.readonly,
.theme-entry .input-control.select-box {
    height: 40px;
    border-radius: 5px !important;
    border-color: #0066CC;
}

.SourceCode-Forms-Controls-Web-Table.Grid-Layout {
    gap: 20px;
}

.theme-entry span.SourceCode-Forms-Controls-Web-Label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #004C87;
}

.theme-entry .form {
    background-color: #F6F6F6;
    padding: 20px;
}

.theme-entry .grid table.grid-column-header-table td {
    min-height: 50px;
    height: 50px !important;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.theme-entry .grid table.grid-content-table>tbody>tr>td,
.theme-entry .grid table.grid-content-table>tr>td {
    border: 1px dotted transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: var(--list-column-header-border-color);
    border-style: solid;
}

.theme-entry .grid table.grid-content-table>tbody>tr>td:last-child,
.theme-entry .grid table.grid-content-table tr td:last-child {
    border: 0;
}

.theme-entry .grid .grid-column-headers div,
.theme-entry .grid .grid-column-headers span {
    color: #222;
    opacity: 1;
}

.theme-entry a.SourceCode-Forms-Controls-Web-Button {
    background: #0066CC;
    border: 0;
    border-radius: 5px;
    height: 40px;
    color: #fff;
}

.theme-entry .view .grid-header-wrapper {
    background-color: #fff;

}

.grid-header .grid-header-text {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

/*  */

.theme-entry {
    font-family: 'cairo'!important;
}
html[dir=ltr] .theme-entry .input-control.select-box:not(.hide-buttons) .input-control-m-c {
    border-right-width:1px!important;
    border-radius: 0 5px 5px 0!important;
    border-left-width:0;
    
}

html[dir=ltr] .theme-entry .input-control.select-box .input-control-buttons {
    border-radius: 5px 0 0 5px!important;
    border-width: 1px 1px 1px 1px;
    border-right-width:0
}

.theme-entry .input-control.watermark a.input-control span {
    font-size: inherit;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 6px;
}