body.theme-entry {
    direction: rtl;
    background-color: #EAEAEA;
}


/* theme nintex */



@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
/* @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"); */


/* new */
body.theme-entry {
    direction: rtl;
    font-family: 'cairo' !important;
}

.theme-entry .input-control textarea {
    height: 100px;
}

.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.watermark,
.theme-entry .input-control-watermark,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-TextBox.readonly,
.theme-entry input[type=text].input-control.readonly,
.theme-entry input[type=password].input-control.readonly,
.theme-entry .input-control.select-box {
    height: 40px;
    border-radius: 5px !important;
    border-color: #0066CC;
}

.SourceCode-Forms-Controls-Web-Table.Grid-Layout {
    gap: 10px;
    border-radius: 0;
}

.theme-entry span.SourceCode-Forms-Controls-Web-Label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #004C87;
    text-align: right;
}

.theme-entry .form {
    background-color: #F6F6F6;
    padding: 20px !important;
}

.theme-entry .grid table.grid-column-header-table td {
    min-height: 50px;
    height: 50px !important;
    color: #222;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.theme-entry .grid table.grid-content-table>tbody>tr>td,
.theme-entry .grid table.grid-content-table>tr>td {
    border: 1px dotted transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-left-color: var(--list-column-header-border-color);
    border-style: solid;
}

.theme-entry .grid table.grid-column-header-table td {
    border-right: 0;
}

.theme-entry .grid table.grid-content-table>tbody>tr>td:last-child,
.theme-entry .grid table.grid-content-table tr td:last-child {
    border: 0;
}

.theme-entry .grid .grid-column-headers div,
.theme-entry .grid .grid-column-headers span {
    color: #222;
    opacity: 1;
}

.theme-entry a.SourceCode-Forms-Controls-Web-Button {
    background: #0066CC;
    border: 0;
    border-radius: 5px;
    height: 40px;
    color: #fff;
    margin-top: 10px !important;
    display: flex;
    /* flex: 0 0 auto; */
    min-width: 100px;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-family: 'cairo' !important;
}

.theme-entry .view .grid-header-wrapper {
    background-color: #fff;

}

.grid-header .grid-header-text {
    padding: 20px;
    /* border-bottom: 1px solid #ddd; */
}

/*  */

.theme-entry {
    font-family: 'cairo' !important;
}

.theme-entry .form {
    padding: 12px;
}

html[dir=ltr] .theme-entry .input-control.select-box:not(.hide-buttons) .input-control-m-c {
    border-right-width: 1px !important;
    border-radius: 0 5px 5px 0 !important;
    border-left-width: 0;

}

html[dir=ltr] .theme-entry .input-control.select-box .input-control-buttons {
    border-radius: 5px 0 0 5px !important;
    border-width: 1px 1px 1px 1px;
    border-right-width: 0
}

.theme-entry .input-control.watermark a.input-control span {
    font-size: inherit;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 6px;
}

span,
div {
    font-family: 'cairo' !important;
}

.theme-entry .form .view .innerpanel>.grid,
.theme-entry #pgInnerPanel .view .innerpanel>.grid,
.theme-entry .form-tabs>.tab-box-body .view .innerpanel>.grid,
.theme-entry #pgTabContent .view .innerpanel>.grid,
.theme-entry .form .view .innerpanel>.panel,
.theme-entry #pgInnerPanel .view .innerpanel>.panel,
.theme-entry .form-tabs>.tab-box-body .view .innerpanel>.panel,
.theme-entry #pgTabContent .view .innerpanel>.panel,
.theme-entry .form .view-canvas>.grid,
.theme-entry #pgInnerPanel .view-canvas>.grid,
.theme-entry .form-tabs>.tab-box-body .view-canvas>.grid,
.theme-entry #pgTabContent .view-canvas>.grid,
.theme-entry .form .view-canvas>.panel,
.theme-entry #pgInnerPanel .view-canvas>.panel,
.theme-entry .form-tabs>.tab-box-body .view-canvas>.panel,
.theme-entry #pgTabContent .view-canvas>.panel {
    padding-bottom: 0;
}

.theme-entry .editor-cell {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2); */
}

.theme-entry .view .grid-header-wrapper .grid-header-text {
    font-size: 20px;

}

.theme-entry .grid-header-wrapper {
    padding: 10px;
    color: #004C87;
    font-weight: bold;
}

.theme-entry .grid .grid-column-header-divider {
    background-color: transparent;
}

.theme-entry .grid-header-wrapper,
.theme-entry .panel-header,
.theme-entry .panel-header-c,
.theme-entry .panel-header-wrapper {
    min-height: 40px;
    overflow: unset;
    height: 40px;
    margin-bottom: 20px;
}

.theme-entry .panel.with-header.without-toolbar>.panel-body,
.theme-entry .panel.without-header.with-toolbar>.panel-body {
    padding: 10px;
}

.theme-entry .panel.without-header.without-toolbar>.panel-body,
.theme-entry .panel.without-header.with-toolbar>.panel-body,
.theme-entry .panel.with-header.without-toolbar>.panel-body {
    /* padding: 5px; */
    border-radius: 0;
}

/* .theme-entry .panel .panel-body-wrapper {
    padding: 10px;
} */

/* .theme-entry [name="POC_Request_Action_Form Area Item"] .root-table.Grid-Layout>.editor-cell.lastrow:last-child {
    background: transparent;
    box-shadow: unset;
} */

/* .SFC.SourceCode-Forms-Controls-Web-Table.Grid-Layout.root-table span[name="Cell Cell13"]:last-child {
    background: transparent;
    box-shadow: unset;
}

.theme-entry [name="POC_Request_Action_Form Area Item8"] .root-table.Grid-Layout>.editor-cell.lastrow,
.theme-entry [name="POC_Request_Action_Form Area Item3"] .root-table.Grid-Layout>.editor-cell.lastrow {
    background: transparent;
    box-shadow: unset;
    padding: 0;
} */

.theme-entry .grid .grid-body {
    padding: 0 10px;
}

.formcontrol>div {
    padding: 0 20px;
}

.form .row>* {
    margin-top: 0 !important;

}

.theme-entry .form .view .innerpanel>.panel {
    background-color: #f1f1f1;
    border-radius: 0;
}

/* trans */

/* .theme-entry .view [name="POC_Request_Action_Form Area Item3"] .panel-header {
    background: rgba(0, 102, 204, 0.15);
} */


/* .theme-entry .form .view .innerpanel [name="POC_Request_Action_Form Area Item3"] .panel,
.theme-entry .view .panel-header-wrapper,
.theme-entry .view .panel-header,
.visible.panel.scroll-contents.with-header.without-toolbar.without-footer,
.visible.panel.scroll-contents.with-header.without-toolbar.without-footer {
    background: rgba(0, 102, 204, 0.1);
} */

.theme-entry .grid table.grid-column-header-table td {
    background: transparent;
}

/* .theme-entry .view .grid-header-wrapper {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1)
}

[name="POC_Request_Action_Form Area Item1"] {
    background: rgba(0, 102, 204, 0.2) !important;
} */

.theme-entry .grid table.grid-column-header-table {
    width: 100% !important;
}



/* theme nintex */

.theme-entry .panel .panel-body-wrapper {
    /* background-color: transparent !important; */
    border-radius: 0;
}

.runtime-form.theme-entry .row .view:nth-child(2) {
    margin-right: 19%;
    width: 77% !important;
    background-color: transparent !important;
    padding-top: 40px;
}

.runtime-form.theme-entry .row .view:nth-child(1) {
    position: fixed;
    right: 0;
    top: 0;
    width: 18% !important;
    background-color: #004C87;
    height: 100%;
    border-radius: 0;
}


.theme-entry .view:nth-child(1) .root-table.Grid-Layout>.editor-cell.lastrow,
.theme-entry .view:nth-child(1) .root-table.editor-grid>.editor-cell.lastrow {
    padding: 0;
    border-radius: 0;
    border: 0;
}

.runtime-content {
    margin: 0 !important;
}

.theme-entry .form {
    background: transparent;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.theme-entry input.SFC.SourceCode-Forms-Controls-Web-TextBox {
    height: 40px;
}

/* .theme-entry .root-table.Grid-Layout>.editor-cell.lastrow,
.theme-entry .root-table.editor-grid>.editor-cell.lastrow {
    padding: 0;
    border: 0;
    border-radius: 0;
} */

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .stylewrapper {
    background-color: #004C87;
    border: 0 !important;
    border-radius: 0;
    padding-top: 20px;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node>.content>.header .text {
    font-size: 18px !important;
    color: #fff !important;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .tree-body>.node-container {
    padding-right: 0;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .header {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node>.content>.header:hover {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(217, 217, 217, 0.2) !important;
    color: #ddd;
    cursor: default;

}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .node-container {
    padding-right: 0;
    padding-left: 15px;
}

html[dir=ltr] .form .row>*:first-child>* {
    margin-right: 0 !important;
    border-radius: 0 !important;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .node .content {
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .node.collapsed>.content>.expander-container>.expander {
    background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.97193 10.3285C6.85692 10.3289 6.74297 10.3065 6.63664 10.2627C6.53032 10.2188 6.43372 10.1544 6.35243 10.073L1.10243 4.823C0.938129 4.6587 0.845825 4.43586 0.845825 4.2035C0.845825 3.97114 0.938129 3.7483 1.10243 3.584C1.26673 3.4197 1.48957 3.32739 1.72193 3.32739C1.95429 3.32739 2.17713 3.4197 2.34143 3.584L6.97193 8.218L11.6024 3.584C11.7667 3.4197 11.9896 3.32739 12.2219 3.32739C12.4543 3.32739 12.6771 3.4197 12.8414 3.584C13.0057 3.7483 13.098 3.97114 13.098 4.2035C13.098 4.43586 13.0057 4.6587 12.8414 4.823L7.59143 10.073C7.51014 10.1544 7.41354 10.2188 7.30722 10.2627C7.20089 10.3065 7.08694 10.3289 6.97193 10.3285Z" fill="white"/></svg>');
    transition: all .5s ease;
    transform: rotate(0deg);
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node>.content>.header {
    border-bottom: 1px solid rgba(217, 217, 217, 0.2) !important;
    display: flex;
    width: 100%;
    padding: 0 25px;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .expander {
    top: 27px;
    left: 6px;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SourceCode-Forms-Controls-Web-ControlPack-TreeView .node.expanded>.content>.expander-container>.expander {
    background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.97193 10.3285C6.85692 10.3289 6.74297 10.3065 6.63664 10.2627C6.53032 10.2188 6.43372 10.1544 6.35243 10.073L1.10243 4.823C0.938129 4.6587 0.845825 4.43586 0.845825 4.2035C0.845825 3.97114 0.938129 3.7483 1.10243 3.584C1.26673 3.4197 1.48957 3.32739 1.72193 3.32739C1.95429 3.32739 2.17713 3.4197 2.34143 3.584L6.97193 8.218L11.6024 3.584C11.7667 3.4197 11.9896 3.32739 12.2219 3.32739C12.4543 3.32739 12.6771 3.4197 12.8414 3.584C13.0057 3.7483 13.098 3.97114 13.098 4.2035C13.098 4.43586 13.0057 4.6587 12.8414 4.823L7.59143 10.073C7.51014 10.1544 7.41354 10.2188 7.30722 10.2627C7.20089 10.3065 7.08694 10.3289 6.97193 10.3285Z" fill="white"/></svg>');
    transform: rotate(180deg);
    transition: all .5s ease;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node>.content>.header .text {
    position: relative;
    /* padding: 0 30px; */
    display: block;
}

li.node.populated.expanded {
    transition: all .5s ease-in-out;
}


.nodes li[data-source="Side_Menu_Category"].node.populated>.content .PART-header-clickable-area.header .text {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nodes li[data-source="Side_Menu_Category"].node.populated.collapsed:first-child>.content .PART-header-clickable-area.header::before,
.nodes li[data-source="Side_Menu_Category"].node.populated.expanded:first-child>.content .PART-header-clickable-area.header::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="23" viewBox="0 0 20 23" fill="none"><path d="M12.2162 8.58991C12.5339 8.7921 12.5296 9.26089 12.2305 9.48975C12.0532 9.62541 11.885 9.77631 11.726 9.94245C11.6899 9.98012 11.625 9.95501 11.625 9.90285C11.625 9.88338 11.6151 9.86526 11.5986 9.85483L10.1135 8.91217C9.45927 8.49697 8.62413 8.49697 7.96995 8.91217L7.38661 9.28242C6.80857 9.64931 6.45836 10.2864 6.45836 10.971V12.029C6.45836 12.7136 6.80857 13.3507 7.38661 13.7176L8.78578 14.6056C8.94197 14.7048 9.14139 14.7047 9.29749 14.6054L9.93537 14.1997C9.97665 14.1735 10.0292 14.2033 10.0205 14.2515C10.0138 14.2889 10.0105 14.3301 10.0105 14.375C10.0105 14.5996 10.0239 14.8242 10.0508 15.0488C10.0987 15.4486 9.94294 15.857 9.60318 16.0731L9.57235 16.0927C9.24862 16.2986 8.83495 16.2983 8.51145 16.0921L6.09146 14.5491C5.51541 14.1818 5.16669 13.5459 5.16669 12.8627V10.1373C5.16669 9.4541 5.51541 8.81818 6.09146 8.4509L7.96752 7.25472C8.62282 6.83691 9.46083 6.83654 10.1165 7.25377L12.2162 8.58991ZM2.21818 5.99166C1.64113 6.35875 1.29167 6.99524 1.29167 7.67915V15.3191C1.29167 16.004 1.64209 16.6412 2.22041 17.008L6.54649 19.752C6.85623 19.9485 6.91886 20.3741 6.68037 20.6528C6.43918 20.9347 6.03703 21.0861 5.72394 20.8872L0.927365 17.8393C0.34983 17.4723 0 16.8355 0 16.1512V6.84828C0 6.16427 0.349569 5.52769 0.926756 5.16064L7.96846 0.682521C8.62335 0.266048 9.46006 0.266048 10.1149 0.682521L17.438 5.33953C17.84 5.59517 18.0834 6.03852 18.0834 6.51491V8.02806C18.0834 8.45992 17.5972 8.73052 17.1915 8.58239C16.9569 8.49672 16.7917 8.28269 16.7917 8.03293V7.36234C16.7917 6.87574 16.5431 6.42288 16.1325 6.1617L10.1152 2.33378C9.46019 1.9171 8.62322 1.9171 7.96821 2.33378L2.21818 5.99166ZM15.5001 10.0625C16.0315 10.0625 16.5327 10.1748 17.0037 10.3994C17.4746 10.624 17.8849 10.931 18.2348 11.3203C18.5846 11.7096 18.8638 12.1701 19.0723 12.7017C19.2809 13.2332 19.3818 13.791 19.3751 14.375C19.3751 14.974 19.2742 15.5317 19.0723 16.0483C18.8705 16.5649 18.5947 17.0216 18.2449 17.4185C17.895 17.8153 17.4813 18.126 17.0037 18.3506C16.526 18.5752 16.0248 18.6875 15.5001 18.6875C15.0964 18.6875 14.7029 18.6201 14.3194 18.4854C13.6736 18.2584 12.9005 18.2891 12.4425 18.7977L8.84997 22.7866C8.72215 22.9289 8.57078 23 8.39587 23C8.22095 23 8.06959 22.9289 7.94177 22.7866C7.81394 22.6444 7.75003 22.4759 7.75003 22.2812C7.75003 22.0866 7.81394 21.9181 7.94177 21.7759L11.4738 17.836C11.9854 17.2654 12.0159 16.4263 11.8067 15.689C11.6856 15.2622 11.625 14.8242 11.625 14.375C11.625 13.7835 11.726 13.2257 11.9278 12.7017C12.1296 12.1776 12.4054 11.7209 12.7553 11.3315C13.1051 10.9422 13.5155 10.6315 13.9864 10.3994C14.4573 10.1673 14.9619 10.055 15.5001 10.0625ZM15.5001 17.25C15.8566 17.25 16.1896 17.1751 16.4991 17.0254C16.8086 16.8757 17.0844 16.6698 17.3266 16.4077C17.5688 16.1457 17.7538 15.8424 17.8816 15.498C18.0094 15.1536 18.0767 14.7793 18.0834 14.375C18.0834 13.9782 18.0161 13.6076 17.8816 13.2632C17.747 12.9188 17.562 12.6118 17.3266 12.3423C17.0911 12.0728 16.8186 11.8669 16.5092 11.7246C16.1997 11.5824 15.8633 11.5075 15.5001 11.5C15.1435 11.5 14.8105 11.5749 14.501 11.7246C14.1916 11.8743 13.9157 12.0802 13.6736 12.3423C13.4314 12.6043 13.2464 12.9076 13.1185 13.252C12.9907 13.5964 12.9234 13.9707 12.9167 14.375C12.9167 14.7718 12.984 15.1424 13.1185 15.4868C13.2531 15.8312 13.4381 16.1382 13.6736 16.4077C13.909 16.6772 14.1815 16.8831 14.4909 17.0254C14.8004 17.1676 15.1368 17.2425 15.5001 17.25Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    right: 9px;
    position: absolute;
    width: 20px;
    height: 100%;
    content: "";
    display: flex;
    align-items: center;
    top: 20px;
    align-items: center;
}

.nodes li[data-source="Side_Menu_Category"].node.populated.collapsed:nth-child(2)>.content .PART-header-clickable-area.header::before,
.nodes li[data-source="Side_Menu_Category"].node.populated.expanded:nth-child(2)>.content .PART-header-clickable-area.header::before {
    background-image: url('data:image/svg+xml,<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.2727 3C17.2727 3.27614 17.4966 3.5 17.7727 3.5H19.5C19.7761 3.5 20 3.72386 20 4V4.54545C20 4.79649 19.7965 5 19.5455 5C19.2944 5 19.0909 5.20351 19.0909 5.45455V16.0455C19.0909 16.2965 19.2944 16.5 19.5455 16.5C19.7965 16.5 20 16.7035 20 16.9545V17.5C20 17.7761 19.7761 18 19.5 18H0.5C0.223857 18 0 17.7761 0 17.5V16.9545C0 16.7035 0.203507 16.5 0.454545 16.5C0.705584 16.5 0.909091 16.2965 0.909091 16.0455V5.45454C0.909091 5.20351 0.705584 5 0.454545 5C0.203507 5 0 4.79649 0 4.54545V4C0 3.72386 0.223858 3.5 0.5 3.5H2.22727C2.50341 3.5 2.72727 3.27614 2.72727 3V1C2.72727 0.734784 2.82305 0.48043 2.99354 0.292893C3.16403 0.105357 3.39526 0 3.63636 0H16.3636C16.6047 0 16.836 0.105357 17.0065 0.292893C17.177 0.48043 17.2727 0.734784 17.2727 1V3ZM17.7273 5.5C17.7273 5.22386 17.5034 5 17.2273 5H2.77273C2.49658 5 2.27273 5.22386 2.27273 5.5V16C2.27273 16.2761 2.49658 16.5 2.77273 16.5H5.40909C5.68523 16.5 5.90909 16.2761 5.90909 16V9.5C5.90909 9.22386 6.13295 9 6.40909 9H6.77273C7.04887 9 7.27273 9.22386 7.27273 9.5V16C7.27273 16.2761 7.49659 16.5 7.77273 16.5H9.04545C9.3216 16.5 9.54545 16.2761 9.54545 16V9.5C9.54545 9.22386 9.76931 9 10.0455 9H10.4091C10.6852 9 10.9091 9.22386 10.9091 9.5V16C10.9091 16.2761 11.1329 16.5 11.4091 16.5H12.6818C12.958 16.5 13.1818 16.2761 13.1818 16V9.5C13.1818 9.22386 13.4057 9 13.6818 9H14.0455C14.3216 9 14.5455 9.22386 14.5455 9.5V16C14.5455 16.2761 14.7693 16.5 15.0455 16.5H17.2273C17.5034 16.5 17.7273 16.2761 17.7273 16V5.5ZM5.04545 1C4.76931 1 4.54545 1.22386 4.54545 1.5V3C4.54545 3.27614 4.76931 3.5 5.04545 3.5H14.9545C15.2307 3.5 15.4545 3.27614 15.4545 3V1.5C15.4545 1.22386 15.2307 1 14.9545 1H5.04545Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    right: 9px;
    position: absolute;
    width: 20px;
    height: 100%;
    content: "";
    display: flex;
    align-items: center;
    top: 20px;
    align-items: center;
}


.nodes li[data-source="Side_Menu_Category"].node.populated.collapsed:nth-child(3)>.content .PART-header-clickable-area.header::before,
.nodes li[data-source="Side_Menu_Category"].node.populated.expanded:nth-child(3)>.content .PART-header-clickable-area.header::before {
    background-image: url('data:image/svg+xml,<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.2727 3C17.2727 3.27614 17.4966 3.5 17.7727 3.5H19.5C19.7761 3.5 20 3.72386 20 4V4.54545C20 4.79649 19.7965 5 19.5455 5C19.2944 5 19.0909 5.20351 19.0909 5.45455V16.0455C19.0909 16.2965 19.2944 16.5 19.5455 16.5C19.7965 16.5 20 16.7035 20 16.9545V17.5C20 17.7761 19.7761 18 19.5 18H0.5C0.223857 18 0 17.7761 0 17.5V16.9545C0 16.7035 0.203507 16.5 0.454545 16.5C0.705584 16.5 0.909091 16.2965 0.909091 16.0455V5.45454C0.909091 5.20351 0.705584 5 0.454545 5C0.203507 5 0 4.79649 0 4.54545V4C0 3.72386 0.223858 3.5 0.5 3.5H2.22727C2.50341 3.5 2.72727 3.27614 2.72727 3V1C2.72727 0.734784 2.82305 0.48043 2.99354 0.292893C3.16403 0.105357 3.39526 0 3.63636 0H16.3636C16.6047 0 16.836 0.105357 17.0065 0.292893C17.177 0.48043 17.2727 0.734784 17.2727 1V3ZM17.7273 5.5C17.7273 5.22386 17.5034 5 17.2273 5H2.77273C2.49658 5 2.27273 5.22386 2.27273 5.5V16C2.27273 16.2761 2.49658 16.5 2.77273 16.5H5.40909C5.68523 16.5 5.90909 16.2761 5.90909 16V9.5C5.90909 9.22386 6.13295 9 6.40909 9H6.77273C7.04887 9 7.27273 9.22386 7.27273 9.5V16C7.27273 16.2761 7.49659 16.5 7.77273 16.5H9.04545C9.3216 16.5 9.54545 16.2761 9.54545 16V9.5C9.54545 9.22386 9.76931 9 10.0455 9H10.4091C10.6852 9 10.9091 9.22386 10.9091 9.5V16C10.9091 16.2761 11.1329 16.5 11.4091 16.5H12.6818C12.958 16.5 13.1818 16.2761 13.1818 16V9.5C13.1818 9.22386 13.4057 9 13.6818 9H14.0455C14.3216 9 14.5455 9.22386 14.5455 9.5V16C14.5455 16.2761 14.7693 16.5 15.0455 16.5H17.2273C17.5034 16.5 17.7273 16.2761 17.7273 16V5.5ZM5.04545 1C4.76931 1 4.54545 1.22386 4.54545 1.5V3C4.54545 3.27614 4.76931 3.5 5.04545 3.5H14.9545C15.2307 3.5 15.4545 3.27614 15.4545 3V1.5C15.4545 1.22386 15.2307 1 14.9545 1H5.04545Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    right: 9px;
    position: absolute;
    width: 20px;
    height: 100%;
    content: "";
    display: flex;
    align-items: center;
    top: 20px;
    align-items: center;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node .node-container .nodes .content>.header {
    padding: 5px 5px;
    margin: 0 20px 0 0;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node.focus {
    background: rgba(0, 102, 204, 0.7);
    border-radius: 5px 0 0 5px;
}

.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-TreeView .node.focus .content .header {
    background: transparent;
    border: 0 !important;
    border-radius: 5px 0 0 5px;

}

li.node[data-source="SubMenu"].selectable.empty.populated.focus.selected {
    margin-top: 12px;
}